<html>
  <body>

    <form method="post" action="/submitcase">

      <label>Country</label>
      <input name="country" type="text" />
      <br /> <br />

      <label>Year</label>
      <input name="year"></textarea>
      <br /> <br />

      <label>Sex</label>
      <input name="sex" type="text" />
      <br /> <br />

      <label>Age Group</label>
      <input name="age" type="dropdown">

      <input type="submit" value="Create Case" />

    </form>

  </body>
</html>
